<header class="header">

  <div class="header__logo">
    <a <%= activePage === 'index' ? '' : 'href=index.html' %> class="Header__logo-link">
      <svg class="logo">
        <use xlink:href="#white-logo"/>
      </svg>
    </a>
  </div>

  <nav class="header__nav">
    <ul class="nav-list list">

      <% menuItems.forEach(function(item) { %>
        <li class="<%= item === activePage ? "nav-item nav-item--active" : "nav-item" %>">
          <a class="nav-link" <%= item === activePage ? "" : `href=${item}.html` %> >
            <svg class="nav-link__svg">
              <use xlink:href="#<%=item%>" />
            </svg>
            <%=item.toUpperCase()%>
          </a>
        </li>
      <% }) %>

    </ul>
  </nav>

  <section class="header__search-section">
    <form class="header__search-form">
      <label class="header__label">
        <input class="header__input" type="text" placeholder="Search" />
        <svg class="header__label-svg">
          <use xlink:href="#search" />
        </svg>
      </label>
      <button class="header__search-snap btn" type="button">
        <svg class="header__search-snap-svg" viewBox="0 0 24 24">
          <use xlink:href="#search" />
        </svg>
        <span class="visually-hidden">Выполнить поиск</span>
      </button>
    </form>
  </section>

  <section class="header__profile">
    <picture class="header__profile-img" >
      <source srcset="./../../images/avatar.webp" type="image/webp">
      <source srcset="./../../images/avatar.png 2x">
      <img src="./../../images/avatar.png" alt="avatar">
    </picture>
    <div class="header__profile-wrapper">
      <h3 class="header__profile-name">
        D. KARGAEV <span class="header__profile-pointer">YOU</span>
      </h3>
      <p class="header__profile-views">367 views today
        <span class="header__profile-last-views">
          +32
          <svg class="header__profile-views-arrow">
            <use xlink:href='#green-arrow' />
          </svg>
        </span>
      </p>
    </div>
  </section>

  <section class="header__other-section">
    <button class="other-section__link btn">
      <svg class="other-section__link-svg">
        <use xlink:href="#more" />
      </svg>
      OTHER
    </button>
  </section>
  
</header>