*,
*::before,
*::after {
  box-sizing: inherit;
}

:host {
  box-sizing: border-box;
  width: 784px;
  margin-right: 48px;
}

:host(.verbal-drag-test) {
  width: 576px;
}

.question-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.question-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.question-section__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: 'Roboto-Bold';

  & ::slotted(*) {
    margin-bottom: 15px;
  }
}

.question-section__quest {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  & ::slotted(*) {
    margin-bottom: 15px;
  }
}
