*,
*::before,
*::after {
  box-sizing: inherit;
}

:host {
  display: block;
  box-sizing: border-box;

  width: 100%;
  padding-top: 8px;
}

.verbal-list__subtitle {
  margin: 0;
  padding: 0;

  margin-bottom: 32px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--subTextColor);
}

.verbal-list {
  counter-reset: li-counter;
  width: 368px;

  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  user-select: none;
  list-style: none;

  & ::slotted(li) {
    counter-increment: li-counter;
    min-height: 50px;
    width: 304px;
    position: relative;
    padding: 12px 12px 12px 38px;
    margin-bottom: 16px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    color: #ffffff;

    background: #1a2936;
    border-radius: 6px;

    &::before {
      content: counter(li-counter);
      position: absolute;
      top: 10px;
      left: 12px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 28px;

      color: var(--subTextColor);
    }
  }
}

.btn {
  margin-top: 32px;
  padding: 12px 32px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--defaultTextColor);
  background: var(--redThemeColor);

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;

  &:hover {
    background: var(--redThemeHover);
  }
  &:active {
    background: var(--redThemeActive);
  }
  &:disabled {
    background: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

// drag

.drag__list {
  width: 512px;
  padding: 0;
  margin: 0;

  list-style: none;
  counter-reset: li-counter;

  display: flex;
  flex-direction: column;

  user-select: none;
}

verbal-drag-elem {
  width: 512px;
  touch-action: none;
}

.drag__container {
  width: 512px;
  counter-increment: li-counter;
  min-height: 46px;
  position: relative;
  padding: 2px 2px 2px 38px;
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: var(--defaultTextColor);

  background: #1a2936;
  border-radius: 6px;

  &::before {
    content: counter(li-counter);
    position: absolute;
    top: 10px;
    left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: var(--subTextColor);
  }
}

.drag__elem {
  width: 472px;
  padding: 10px 20px;
  background: #335068;

  cursor: pointer;

  border-radius: 4px;

  &:hover {
    background: #406583;
  }
}
