.admin-page__header {
  width: 100%;
  padding-top: 48px;
  margin-bottom: 32px;

  display: grid;
  grid-template-columns: 1fr [content]minmax(1200px, 12fr) 1fr;
  grid-template-rows: 50px;
  grid-gap: 48px;

  color: #ffffff;
}

.admin-page__inner {
  grid-column: content;
  width: 100%;

  display: flex;
  align-items: center;
}

.admin-page__exit-btn {
  width: 218px;
  padding: 12px 32px;
  margin-left: auto;
  margin-right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--defaultTextColor);
  background-color: #1a2936;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;
  transition: 0.4s ease-in-out;

  & svg {
    width: 27px;
    height: 26px;
    margin-right: 8px;
  }

  &:hover {
    background-color: #335068;
  }
  &:active {
    background-color: #406583;
  }
}

.admin-page__title {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
}

.admin-page__download-btn svg {
  margin-right: 8px;
}

.admin-page__main {
  position: relative;
  display: grid;
  grid-template-columns:
    1fr [filters] minmax(264px, 3fr) [list] minmax(888px, 9fr)
    [right-gutter]1fr;
  grid-gap: 48px;

  color: #ffffff;
}

.arrow-scroll-snap {
  grid-column: right-gutter;
  position: sticky;
  top: 50px;

  width: 56px;
  height: 56px;
  padding: 0px;
  margin: 0px;

  display: none;
  justify-content: center;
  align-items: center;

  background: #ffffff;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.08), 0px 8px 16px rgba(0, 0, 0, 0.06);
  border-radius: 28px;
  border: none;

  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  & svg {
    transform: rotate(-180deg);
  }
}

.admin-page__filters {
  grid-column: filters;
}

.admin-page__filters-form {
  position: sticky;
  top: 16px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.filters-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;

  min-width: 100%;
  margin-bottom: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  legend {
    margin-bottom: 8px;
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
  }

  .fieldset__inputs {
    width: 100%;
    display: flex;
    flex-direction: column;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    & > *:not(:last-child) {
      margin-bottom: 16px;
    }
    & > * {
      height: 50px;
    }
  }

  .filters-form__select-wrapper {
    position: relative;
    width: 100%;
    height: 50px;

    &:hover .filters-form__select-icon {
      --select-color: #ffffff;
    }

    &--open .filters-form__select-icon {
      --select-color: #ffffff;
      transform: rotate(-180deg) translateY(50%);
    }
  }

  .filters-form__select-icon {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    pointer-events: none;

    transition: all 0.3s;
  }

  .filters-form__select {
    width: 100%;
    height: 50px;
    padding: 12px 20px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    color: #ffffff;

    background: transparent;
    appearance: none;

    border: 1px solid #7d8e9d;
    border-radius: 4px;

    &:hover {
      border: 1px solid #ffffff;
    }

    option {
      color: black;
    }
  }

  .filters-form__input {
    height: 50px;
    padding: 12px 20px;

    background: transparent;
    border: 1px solid #7d8e9d;
    border-radius: 4px;

    color: #ffffff;
    outline: none;

    &:hover {
      border: 1px solid #ffffff;
    }

    &--date {
      max-width: 100%;
      width: 100%;
      padding: 12px 0px;
      padding-right: 2px;
      text-align: center;

      font-size: 14px;
      line-height: 18px;
    }
  }

  .filter-form__dates-wrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
  }

  .filters-form__label-date {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.filters-form__checkbox-label {
  height: 50px;
  display: flex;
  align-items: center;

  cursor: pointer;
}

.filters-form__checkbox-marker {
  width: 24px;
  height: 24px;
  margin-right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #7d8e9d;
  border-radius: 4px;
}

.filters-form__checkbox-input:checked + .filters-form__checkbox-marker {
  border: none;
  background-color: #ffffff;
}

.filters-form__submit-btn {
  margin-bottom: 16px;
}

.filters-form__reset-btn {
  width: 100%;
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.admin-page__list-section {
  grid-column: list;
}

.list-section__list {
  position: relative;

  padding: 0px 32px;
  color: var(--akcentColor);
  background-color: #ffffff;
  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  border-radius: 10px;
}

.list-section__item {
  width: 100%;
  height: 52px;

  display: grid;
  grid-template-columns: 2fr 2fr 2fr 100px 100px;
  grid-column-gap: 18px;
  place-items: center start;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  border-bottom: 1px solid rgba(228, 228, 228, 0.6);

  &--header .list-section__item-column {
    display: flex;
    align-items: center;
    & svg {
      margin-left: 6px;
    }
    &--active {
      --svg-fill-color: #253b4d;
    }
  }

  &--header {
    position: sticky;
    top: 0px;

    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    background-color: #ffffff;
  }
}

.list-section__item-column {
  max-width: 100%;
  width: 100%;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--result {
    font-family: 'Roboto-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;

    color: var(--greenTextColor);

    &-fail {
      color: var(--redThemeColor);
    }
  }
}
