.lk-main {
  padding-top: 48px;
  display: flex;
  align-items: flex-start;
}

.snap-help {
  position: fixed;
  bottom: 40px;
  right: 40px;

  width: 50px;
  height: 50px;
  padding: 11px;

  background: #1a2936;
  --icon-fill: var(--defaultTextColor);

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 25px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #335068;
  }
  &:active {
    background: #406583;
  }
  &:disabled {
    background: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

.lk-main__user-section {
  position: sticky;
  top: 48px;

  width: 264px;

  color: var(--defaultTextColor);
}

.user-section__avatar {
  margin-bottom: 24px;

  display: flex;
  width: 264px;
  height: 264px;

  background-image: var(--avatar-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90px 100px;

  background-color: var(--subTextColor);

  border-radius: 10px;

  & img {
    border-radius: 10px;
  }
}

.user-section__user-name {
  margin: 0;
  padding: 0;

  margin-bottom: 8px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.user-section__user-info {
  padding: 0;
  margin: 0;

  margin-bottom: 24px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: var(--subTextColor);
}

.user-section__user-button {
  width: 100%;
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--defaultTextColor);
  background-color: #1a2936;

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;
  transition: 0.4s ease-in-out;

  & svg {
    width: 27px;
    height: 26px;
    margin-right: 8px;
  }

  &:hover {
    background-color: #335068;
  }
  &:active {
    background-color: #406583;
  }

  &--akcent {
    background-color: var(--redThemeColor);
    &:hover {
      background-color: var(--redThemeHover);
    }
    &:active {
      background-color: var(--redThemeActive);
    }
  }
}

.lk-main__test-section {
  width: 888px;
  margin-left: 48px;
}

.master-list__item {
  margin-bottom: 64px;
}

.master-list__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: #ffffff;
}

.sublist__item {
  padding: 32px;
  margin-bottom: 32px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background: #ffffff;

  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  border-radius: 10px;
}

.item__subtitle-wrapper {
  width: 100%;
  padding-bottom: 16px;
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid var(--tabLinesColor);
}

.item__subtitle {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.item__subtitle-info {
  margin-top: 8px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--subTextColor);
}

.item__test-info {
  padding: 0;
  margin: 0;

  margin-bottom: 16px;
}

.item__btns-wrapper {
  display: flex;
  justify-content: flex-start;
}

.help-popup__wrapper {
  position: fixed;
  height: 100vh;
  top: 0px;
  right: 0px;

  display: flex;
  display: none;
}

.help-popup {
  width: 757px;
  padding: 20px;

  background-color: #ffffff;
  box-shadow: 0px 16px 16px rgba(50, 50, 71, 0.08),
    0px 24px 32px rgba(50, 50, 71, 0.08);
  overflow: scroll;
}

.help-popup__close-snap {
  position: sticky;
  top: 0;
  left: -46px;

  width: 46px;
  height: 46px;
  padding: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  background: #828282;
  cursor: pointer;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 1px;

    background-color: #ffffff;
  }
  &::before {
    transform: rotate(-45deg);
  }
  &::after {
    transform: rotate(45deg);
  }
  &:hover::after,
  &:hover::before {
    transform: scale(1.05);
  }
}

// lk empty page

.lk-main__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;
  color: #ffffff;
}

.lk-main__empty-message {
  margin: 0;
  padding: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #d7dbdd;
}
