a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 26px;
  color: var(--akcentColor);
  background-color: #ffffff;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn {
  padding: 12px 32px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--defaultTextColor);
  background: var(--redThemeColor);

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;

  &:hover {
    background: var(--redThemeHover);
  }
  &:active {
    background: var(--redThemeActive);
  }
  &:disabled {
    background: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

.link-btn {
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;

  color: var(--akcentColor);
  background: transparent;

  border: none;
  cursor: pointer;

  &:hover {
    color: var(--redThemeHover);
  }
  &:active {
    color: var(--redThemeActive);
  }
  &:disabled {
    color: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

.snap-help {
  width: 50px;
  height: 50px;
  padding: 11px;

  background: #1a2936;
  --icon-fill: var(--defaultTextColor);

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  border-radius: 25px;
  border: none;
  cursor: pointer;

  &:hover {
    background: #335068;
  }
  &:active {
    background: #406583;
  }
  &:disabled {
    background: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

// dragNdrop list

.drag__list {
  width: 394px;
  padding: 0;
  margin: 0;

  list-style: none;
  counter-reset: li-counter;

  display: flex;
  flex-direction: column;

  user-select: none;
}

.drag__container {
  counter-increment: li-counter;
  min-height: 46px;
  position: relative;
  padding: 2px 2px 2px 38px;
  margin-bottom: 20px;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: var(--defaultTextColor);

  background: #1a2936;
  border-radius: 6px;

  &::before {
    content: counter(li-counter);
    position: absolute;
    top: 10px;
    left: 12px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: var(--subTextColor);
  }
}

.drag__elem {
  width: 100%;
  padding: 10px 20px;
  background: #335068;

  cursor: pointer;

  &:hover {
    background: #406583;
  }
}

// img в answer-label

answer-label img {
  width: 112px;
}

// popup для картинки в answer-label

.answer-popup {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49, 49, 51, 0.5);
}
