a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  font-size: 18px;
  line-height: 26px;
  color: var(--akcentColor);
  background-color: #ffffff;
}

:not(:defined) {
  display: none;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--defaultTextColor);
  background: var(--redThemeColor);

  border: none;
  border-radius: 4px;

  box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08),
    0px 4px 8px rgba(50, 50, 71, 0.06);
  cursor: pointer;
  transition: 0.4s ease-in-out;

  &:not(.btn--disabled):hover {
    background: var(--redThemeHover);
  }
  &:active {
    background: var(--redThemeActive);
  }
  &:disabled,
  &--disabled {
    background: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}

.link-btn {
  padding: 12px 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;

  color: var(--akcentColor);
  background: transparent;

  border: none;
  cursor: pointer;

  &:hover {
    color: var(--redThemeHover);
  }
  &:active {
    color: var(--redThemeActive);
  }
  &:disabled {
    color: var(--subTextColor);
    opacity: 0.3;
    cursor: default;
  }
}

.content {
  width: 1200px;
  margin: 0 auto;
}

.fon-body {
  background-color: var(--akcentColor);
}

.list {
  padding: 0;
  margin: 0;

  list-style: none;
}

// для правильного отображения картинок в форме ответа

answer-label img {
  width: 112px;
  cursor: zoom-in;
}

// popup для картинки в answer-label

.answer-popup {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(49, 49, 51, 0.5);

  cursor: zoom-out;
}

.test-chapter {
  &:not(:last-of-type) {
    margin-bottom: 16px;
  }
}

.test-chapter-item {
  position: relative;
  width: 100%;
  padding-left: 44px;

  display: flex;
  align-items: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 28px;
    height: 28px;

    background-image: url('../static/bookmark.svg');
    background-position: center;
    background-size: 28px 28px;
    background-repeat: no-repeat;
  }

  &:hover {
    color: var(--redThemeColor);
    &::before {
      background-image: url('../static/bookmark-hover.svg');
    }
  }

  &:visited {
    &::before {
      background-image: url('../static/bookmarkfill-visited.svg');
    }
  }

  &--visited {
    &::before {
      background-image: url('../static/bookmarkfill-visited.svg');
    }
  }

  &--active {
    font-weight: 700;
    &::before {
      background-image: url('../static/bookmarkfill-active.svg');
    }
  }
}

.test__label {
  position: relative;
  margin-bottom: 16px;
  padding-left: 40px;
  max-width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: var(--akcentColor);

  cursor: pointer;
  user-select: none;
}

.test__marker {
  position: absolute;
  top: 0px;
  left: 0px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: 1px solid #d7dbdd;
  --icon-stroke: transparent;
  &--checkbox {
    border-radius: 4px;
  }
  &--radio {
    border-radius: 50%;
  }
  &--true {
    background-color: var(--greenTextColor);
    --icon-stroke: #fff;
    & + .test__label-text {
      color: var(--greenTextColor);
    }
  }
  &--false {
    background-color: var(--redThemeColor);
    --icon-stroke: #fff;
    & + .test__label-text {
      color: var(--redThemeColor);
    }
  }
}

.test__input:disabled + .test__marker {
  background-color: var(--subTextColor);
}

.test__input:checked + .test__marker {
  background-color: var(--akcentColor);
  --icon-stroke: var(--defaultTextColor);
  border: none;
}

.test__label--fon {
  color: var(--defaultTextColor);

  .test__marker {
    border: 1px solid #7d8e9d;
  }

  .test__input:checked + .test__marker {
    background-color: var(--defaultTextColor);
    --icon-stroke: var(--akcentColor);
  }
}

.new-test__right-answer {
  width: 100%;
  padding: 16px;
  margin: 0;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: var(--akcentColor);

  background: #dee7ef;

  border: 1px solid #253b4d;
  border-radius: 10px;
}

.answer-block__result {
  width: 100%;
  margin-bottom: 8px;

  display: flex;
  justify-content: center;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  text-align: center;

  color: var(--greenTextColor);
}
