.test-header {
  padding-bottom: 30px;
  margin-bottom: 30px;
  margin-top: 48px;

  border-bottom: 1px solid var(--tabLinesColor);
}

.test-header__title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;

  color: #333333;
}

.test-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.test-header__nav {
  width: 696px;
}

.test-header__timer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 41px;

  color: var(--redThemeColor);
}

.test-header__timer-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;

  color: var(--subTextColor);
}

.test-main {
  display: flex;
  justify-content: space-between;
}

.question-section {
  max-width: 784px;
  margin-right: 48px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.question-section__title {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.question-section__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 24px;

  font-family: 'Roboto-Bold';
}

.question-section__quest {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.answer-section {
  width: 368px;
  padding: 32px;

  color: #ffffff;

  background: var(--akcentColor);

  box-shadow: 0px 8px 8px rgba(50, 50, 71, 0.08),
    0px 8px 16px rgba(50, 50, 71, 0.06);
  border-radius: 10px;
}

.answer-section__title {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;

  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.answer-section__fieldset {
  padding: 0;
  margin: 0;

  border: none;
}

.answer-section__legend {
  margin-bottom: 32px;

  color: var(--subTextColor);
}
