:root {
  --akcentColor: #253b4d;
  --subTextColor: #7d8e9d;

  --defaultTextColor: #ffffff;

  --greenTextColor: #13b915;

  --redThemeColor: #d81b16;
  --redThemeHover: #e45d5b;
  --redThemeActive: #ea8280;

  --tabLinesColor: #dfe2e5;
}
