<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="login-body">
    <main class="main-login">
      <div class="main-login__wrapper">
        <h1 class="main-login__title">Добро пожаловать</h1>
        <p class="main-login__description">
          Введите, выданный вам логин и пароль, чтобы войти в систему оценки
          квалификации
        </p>
        <form class="main-login__form">
          <input type="text" placeholder="Логин" />
          <input type="password" placeholder="Пароль" />
          <button type="submit" class="btn">Войти</button>
        </form>
      </div>
    </main>
  </body>
</html>
