<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Обучающий тест</title>
  </head>
  <body>
    <test-page>
      <test-header
        slot="test-header"
        total="25"
        current="1"
        test-started-ms=""
        time-limit-ms=""
      >
      </test-header>
      <question-section slot="question-section">
        <span slot="number-question">2</span>
        <span slot="text-question">
          Какой метод постройки судна соответствует данной формулировки?
        </span>
        <img src="./../../images/image 45.jpg" slot="advanced-text" />
      </question-section>
      <answer-section slot="answer-section">
        <answer-form slot="form" type="checkbox" fon="on">
          <span slot="answer-subtitle"
            >Выберите несколько правильных вариантов ответа</span
          >
          <answer-label slot="label">
            <img src="./../../images/image 45.jpg" slot="label-value" />
          </answer-label>
          <answer-label slot="label">
            <img src="./../../images/image 34.jpg" slot="label-value" />
          </answer-label>
          <answer-label slot="label">
            <img src="./../../images/image 34.jpg" slot="label-value" />
          </answer-label>
          <answer-label slot="label">
            <img src="./../../images/image 34.jpg" slot="label-value" />
          </answer-label>
        </answer-form>
      </answer-section>
    </test-page>
  </body>
</html>
