<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Обучающий тест</title>
  </head>
  <body>
    <test-header total="25" current="2" test-started-ms="" time-limit-ms="">
      <span slot="test-title">Обучающий тест</span>
    </test-header>
    <main class="test-main content">
      <question-section>
        <span slot="number-question">2</span>
        <span slot="text-question">
          Какой метод постройки судна соответствует данной формулировки?
        </span>
        <img src="./../../images/image 45.jpg" slot="advanced-text" />
      </question-section>
      <answer-section>
        <answer-label slot="label" type="checkbox">
          <img src="./../../images/image 45.jpg" slot="label-value" />
        </answer-label>
        <answer-label slot="label" type="checkbox">
          <img src="./../../images/image 34.jpg" slot="label-value" />
        </answer-label>
        <answer-label slot="label" type="checkbox">
          <img src="./../../images/image 34.jpg" slot="label-value" />
        </answer-label>
        <answer-label slot="label" type="checkbox">
          <img src="./../../images/image 34.jpg" slot="label-value" />
        </answer-label>
        <red-button slot="submit-button"></red-button>
      </answer-section>
    </main>
  </body>
</html>
