<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-components</title>
  </head>
  <body>
    <test-header total="26" current="5" test-started-ms="" time-limit-ms="">
    </test-header>
    <main class="test-main content">
      <question-section>
        <span slot="number-question">5</span>
        <span slot="text-question">
          Какой метод постройки судна соответствует данной формулировке?
        </span>
        <span slot="advanced-text">
          Весь корпус судна разбивается на отдельные секции: палубы, борта,
          днище, переборки и т. д. Детали корпусных конструкций, подаются на
          участок сборки и сварки, где из них собирают отдельные секции. При
          сборке и сварке секций их насыщают оборудованием и деталями крепления.
          После изготовления таким методом целого отсека и испытания его на
          непроницаемость, готовые корпусные секции поступают на стапельные
          построечные места, где из них формируют корпус судна, выполняют
          монтажные и сварочные работы.
        </span>
      </question-section>
      <answer-section>
        <span slot="answer-subtitle"
          >Выберите один правильный вариант ответа</span
        >
        <answer-form slot="form" type="radio" fon="true">
          <answer-label slot="label">
            <span slot="label-value"
              >Зачистить от покрытия подлежащие ремонту места</span
            >
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">Секционный метод</span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">Островной способ</span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">Пирамидальный способ</span>
          </answer-label>
        </answer-form>
      </answer-section>
    </main>
  </body>
</html>
