<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Тест на оценку квалификации</title>
  </head>
  <body>
    <header class="test-header">
      <h1 class="test-header__title">Тест на оценку квалификации</h1>
      <div class="test-header__wrapper">
        <nav class="test-header__nav">
          <%= _.template(require('./../includes/tab.html'))({tabsCounter: 36,
          activeTab: 2}) %>
        </nav>
        <div class="test-header__timer">18:58</div>
      </div>
    </header>

    <main class="test-main">
      <section class="question-section">
        <h2 class="question-section__title">Вопрос 1</h2>
        <h3 class="question-section__subtitle">
          Какой метод постройки судна соответствует данной формулировки?
        </h3>
        <p class="question-section__quest">
          Весь корпус судна разбивается на отдельные секции: палубы, борта,
          днище, переборки и т. д. Детали корпусных конструкций, подаются на
          участок сборки и сварки, где из них собирают отдельные секции. При
          сборке и сварке секций их насыщают оборудованием и деталями крепления.
          После изготовления таким методом целого отсека и испытания его на
          непроницаемость, готовые корпусные секции поступают на стапельные
          построечные места, где из них формируют корпус судна, выполняют
          монтажные и сварочные работы.
        </p>
      </section>
      <section
        class="answer-section"
        style="background-color: var(--akcentColor)"
      >
        <h2 class="answer-section__title">Варианты ответов</h2>
        <form class="answer-section__form">
          <fieldset class="answer-section__fieldset">
            <legend class="answer-section__legend">
              Выберите один правильный вариант ответа
            </legend>
            <%=
            _.template(require('./../includes/checkbox.html'))({text:'OKKKKr',
            fon:true}) %>
          </fieldset>
          <%= _.template(require('./../includes/svg-sprite.html'))() %> <%=
          _.template(require('./../includes/button.html'))({text: 'Ответить'})
          %>
        </form>
      </section>
    </main>
  </body>
</html>
