<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web-components</title>
  </head>
  <body>
    <test-page>
      <test-header
        slot="test-header"
        total="25"
        current="1"
        test-started-ms=""
        time-limit-ms=""
      >
        <span slot="test-title">Вербальный тест</span>
      </test-header>

      <question-section slot="question-section">
        <span slot="number-question">1</span>
        <span slot="text-question">
          Прочтите отрывок и скажите, верны ли утверждения.
        </span>
        <span slot="text-question">
          1. Все красные олени в Великобритании найдены в Шотландии.
        </span>
        <span slot="text-question">
          2. Красный олень может скрещиваться с пятнистым.
        </span>
        <span slot="text-question">
          3. Великобритания не является родиной пятнистого оленя.
        </span>
        <span slot="advanced-text">
          «В Великобритании обитает 7 видов диких оленей. Красный олень и косуля
          — родственные виды. Палевых оленей привезли римляне, и с семнадцатого
          века к ним присоединились три других неместных вида: сика (пятнистый
          японский), мунтьяк («лающий» олень) и китайский водяной олень, которые
          сбежали из парков.
        </span>
        <span slot="advanced-text">
          Большая часть красных оленей в Великобритании была найдена в
          Шотландии, но в восточной, южной и северо-западной частях Англии, а
          также в северной части Мидленда, есть значительные дикие популяции.
          Красный олень может скрещиваться с японским оленем сика, в некоторых
          районах распространены гибриды»
        </span>
        <answer-form slot="form" type="radio" fon="-" submit-button="-">
          <answer-label slot="label">
            <span slot="label-value">
              Верно — соответствует информации, представленной в отрывке.
            </span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">
              Неверно — противоречит сведениям, полученным из текста.
            </span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">
              Не могу сказать — во фрагменте ничего об этом не сказано или
              недостаточно информации, чтобы сделать такой вывод
            </span>
          </answer-label>
        </answer-form>
      </question-section>

      <question-section slot="question-section">
        <span slot="number-question">1</span>
        <span slot="text-question">
          Прочтите отрывок и скажите, верны ли утверждения.
        </span>
        <span slot="text-question">
          1. Все красные олени в Великобритании найдены в Шотландии.
        </span>
        <span slot="text-question">
          2. Красный олень может скрещиваться с пятнистым.
        </span>
        <span slot="text-question">
          3. Великобритания не является родиной пятнистого оленя.
        </span>
        <span slot="advanced-text">
          «В Великобритании обитает 7 видов диких оленей. Красный олень и косуля
          — родственные виды. Палевых оленей привезли римляне, и с семнадцатого
          века к ним присоединились три других неместных вида: сика (пятнистый
          японский), мунтьяк («лающий» олень) и китайский водяной олень, которые
          сбежали из парков.
        </span>
        <span slot="advanced-text">
          Большая часть красных оленей в Великобритании была найдена в
          Шотландии, но в восточной, южной и северо-западной частях Англии, а
          также в северной части Мидленда, есть значительные дикие популяции.
          Красный олень может скрещиваться с японским оленем сика, в некоторых
          районах распространены гибриды»
        </span>
        <answer-form slot="form" type="radio" fon="-" submit-button="-">
          <answer-label slot="label">
            <span slot="label-value">
              Верно — соответствует информации, представленной в отрывке.
            </span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">
              Неверно — противоречит сведениям, полученным из текста.
            </span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">
              Не могу сказать — во фрагменте ничего об этом не сказано или
              недостаточно информации, чтобы сделать такой вывод
            </span>
          </answer-label>
        </answer-form>
      </question-section>

      <answer-section slot="answer-section">
        <answer-form slot="form" type="checkbox">
          <span slot="answer-subtitle">
            Выберите несколько правильных вариантов ответа
          </span>
          <answer-label slot="label">
            <span slot="label-value"
              >Зачистить от покрытия подлежащие ремонту места</span
            >
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">Секционный метод</span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">Островной способ</span>
          </answer-label>
          <answer-label slot="label">
            <span slot="label-value">Пирамидальный способ</span>
          </answer-label>
        </answer-form>
      </answer-section>
    </test-page>
  </body>
</html>
